*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;   
    overflow: hidden
}

div[id^="l"]{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

div[data-nav^="tela"]{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}
